

body {
    font-family: 'Montserrat', sans-serif;
    height: 2000px;
    width: 1560px;
    background-image: url(../img/background\ 1.png);
    color: aliceblue;
    font-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    margin:  auto;


}

.photo-container {
    width: 1560px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;


}

.conatainer {
    width: 1560px;
    margin: 0 auto;

}

.item {
    height: 300px;
    text-align: center;
    width: 450px;
    height: 328px;
    margin-right: 40px;
    margin-bottom: 50px;

}

.logo-img {
    width: 85px;
    height: 85px;
}

img {
    width: 450px;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.logo-text-1 {
    font-size: 80px;
    font-weight: 700;

}

.menu-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.header-menu {
    padding-bottom: 22px;
    width: 1430px;
}

.logo-text-1 {
    font-size: 40px;
}

.main-logo-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
.nav-contacts {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
  }
  .main-logo-wrapper:hover + .nav-contacts,
.main-logo-wrapper:hover,
.nav-contacts a:hover{
    filter: invert(61%) sepia(84%) saturate(4825%) hue-rotate(350deg)
    brightness(101%) contrast(90%);
  }
  .footer-page{
    display: flex;
   justify-content: center;
   margin-right: 100px;
   margin-top: 30px;
   font-size:10px
  }
  .img-text{
    display: none;
    position: relative;
    background-color: #f26522;;
    bottom: 160px;
    height:110px;
    transition: height 0,5s;
  }
  .left-text-1{
    position: relative;
    right: 170px;
    top: 30px;
    font-size: 18px;;
  }
  .left-text-2{
    position: relative;
    right: 170px;
    top: 20px; 
    font-size:25px;
  }
  .right-text-3{
    position: relative;
    left: 100px;
    bottom: 28px;
    font-size:18px;
  }
  .right-text-3:after {
    position: relative;
    content: ">";
    margin-left: 30px;
    font-size: 20px;
  }
    
    .overlay{
    transition: none;

    }
  

  .item:hover .img-text{
    display: block;
    color:aliceblue;
  }
   .item-1 a:hover {
    color:#f26522 ;
   }
   .item-2 a:hover{
    color:#f26522 ;
   }
   .item-3 a:hover{
    color:#f26522 ;
   }
   .item-4 a:hover{
    color:#f26522 ;
   }
   .item-5 a:hover{
    color:#f26522 ;
   }
   .item-6 a:hover{
    color:#f26522 ;
   }